.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem var(--phonePadding) 1rem;
}

.heading1 {
	display: none;
}

.logo {
	height: 3rem;
	width: auto;
}

.user {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}
