.catContainer {
	width: 100%;
}

.catHeading {
	margin: 0 var(--phonePadding);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.catItemContainer {
	overflow-x: scroll;
	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.catItem {
	height: 14rem;
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	border-radius: 16px;
	box-shadow: 0 0 10px var(--boxShadow);
}

.catItem p {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}

.catImg {
	height: 7rem;
	width: auto;
	margin-bottom: 1.5rem;
}

.more {
	color: white;
	align-self: center;
	letter-spacing: 1px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-radius: 5rem;
	width: 3rem;
	height: 3rem;
	background-color: var(--primaryColorBg);
}

.more p {
	margin-bottom: 0.8rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.catItemContainer::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.catItemContainer {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
