.searchbar {
	display: flex;
	align-items: center;

	margin: 0rem var(--phonePadding) 3.5rem;
	overflow: hidden;

	border: 1px solid var(--lightGrayBorder);
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem var(--transparent);

	transition: var(--transition);
}

.searchbar:focus-within {
	border: 1px solid var(--primaryColorBg);
	box-shadow: 0 0 0.5rem var(--boxShadow);
}

.searchIconContainer {
	display: flex;
	align-items: center;
	background-color: var(--lightGrayBg);
	cursor: pointer;
	transition: var(--transition);
}

.searchbar:focus-within .searchIconContainer {
	background-color: var(--primaryColorBg);
}

.searchIcon {
	padding: 1rem;
}

.searchbar input {
	width: 280px;
	border-radius: 2rem;
	height: 100%;
	font-size: 1.6rem;
	border: none;
	padding: 0.7rem;
}

.searchbar input:focus {
	outline: none;
}
