.areaPreview {
	margin: 0 var(--phonePadding);
}

.areaHeading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.areasItem {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.areasItem a {
	background-color: var(--lightGrayBg);
	width: 10rem;
	height: 3.5rem;
	border-radius: 10rem;
	font-size: 1.6rem;
	color: #0a2533;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.2s;
}
