.mealOfDay {
	margin: 0 var(--phonePadding);
}

.mealOfDayItem {
	width: 26.5rem;
	height: 17.5rem;
	background-color: var(--primaryColorBg);
	border-radius: 16px;
	background-image: url("../../public/meal-of-the-day.svg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1.5rem;
	transition: var(--transition);
}

.mealOfDayItem:hover {
	background-color: var(--primaryColorBg2);
}

.mealOfDayItem a {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.mealOfDayItem a > div {
	width: 100%;
}

/* .mealOfDayItem img {
	width: 5rem;
	height: 5rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
} */

.mealHeading {
	font-size: 1.8rem;
	color: white;
	font-weight: bold;
	width: 70%;
	margin-bottom: 1rem;
}

.mealDetailsContainer {
	display: flex;
	justify-content: space-between;
}

.mealDetailsContainer p {
	color: white;
}

.categoryContainer {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.circle {
	display: block;
	width: 16px;
	height: 16px;
	background-color: var(--circleBg);
	border: 1px solid white;
	border-radius: 100%;
}
