.splashScreen {
	height: 100%;
	background-color: #70b9be;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url(../public/splashscreen-background.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
