.allAreas {
	margin: 0 var(--phonePadding);
	margin-bottom: 2rem;
}

.areaList {
	display: flex;
	flex-wrap: wrap;
}

.areaList a {
	background-color: var(--lightGrayBg);
	display: block;
	width: fit-content;
	padding: 0 1.4rem;
	margin: 0.5rem;
	height: 3.5rem;
	border-radius: 10rem;
	font-size: 1.6rem;
	color: #0a2533;
	transition: all 0.2s;

	display: flex;
	align-items: center;
}

.areaList a:hover {
	background-color: var(--primaryColorBg);
	color: white;
}
