:root {
	--phonePadding: 1.5rem;
	--transition: all 0.2s;

	/* ----- Colors ----- */
	--primaryColorBg: #70b9be;
	--primaryColorBg2: #74ced2;
	/* primaryColorLinkText for link text */
	--primaryColorLinkText: #01a5b1;
	/* dark blue for website background and overall text color: */
	--darkBlue: #0a2533;
	--darkBlue2: #0d4144;
	--lightGrayBg: #f3f5f5;
	--lightGrayBorder: #e6ebf2;
	--boxShadow: #dbdbdb;
	--circleBg: #c4c4c4;
	--transparent: #00000000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	background-image: radial-gradient(#70b9be, #0a2533);

	display: flex;
	align-items: center;
	justify-content: center;

	scroll-behavior: smooth;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
}

section {
	margin-bottom: 3.5rem;
}

p,
a,
h2,
h3,
button {
	color: var(--darkBlue);
}

a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}

h2 {
	font-size: 2rem;
	margin-bottom: 1.2rem;
}

h3 {
	font-size: 2.6rem;
	margin-bottom: 1.2rem;
}

.seeAllLink {
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--primaryColorBg);
}
